[submodule "lib/LovyanGFX"]
	path = lib/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
	branch = develop
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.3
